<mat-nav-list class="sidenav-list">
  <span>Settings</span>
  <span class="app-toolbar-filler"></span>
  <mat-icon class="example-icon">build</mat-icon>

  <a mat-list-item routerLink="/login" (click)="onToggleClose()">
    <button mat-raised-button color="accent" class="app-sidebar-button">
      <span>Account</span>
      <span class="app-toolbar-filler"></span>
      <mat-icon class="example-icon">account_circle</mat-icon>
    </button>
  </a>
  <a mat-list-item routerLink="/properties" (click)="onToggleClose()">
    <mat-icon>hotel</mat-icon>
    <span>Properties</span>
  </a>
  <a mat-list-item routerLink="/signup" (click)="onToggleClose()">
    <mat-icon>input</mat-icon>
    <span>Signup</span>
  </a>
</mat-nav-list>