<command-bar class="crm-command-bar" fxHide.xs>

  <ng-container>

  </ng-container>

</command-bar>

<footer-bar class="crm-footer-bar" fxHide.xs>
  <ng-container>
    <button mat-button type="submit" class="crm-command-bar-button"
            [disabled]="false"
            (click)="onSubmit(form.value)">
      <mat-icon>save</mat-icon>
      SAVE
    </button>

    <button mat-button class="crm-command-bar-button"
            [disabled]="false"
            (click)="onCancel()">
      <mat-icon>cancel</mat-icon>
      CANCEL
    </button>

    <button mat-button *ngIf="isEdit" class="crm-command-bar-button"
            [disabled]="false"
            (click)="onDelete()">
      <mat-icon>delete</mat-icon>
      DELETE
    </button>
  </ng-container>
</footer-bar>


<div #contentContainer class="crm-content-container">
  
  <div class="crm-component-title-container">
    <h2 class="crm-component-title"> New Expense </h2>
  </div>

  <ng-container>

    <ng-container *ngIf="item; then skeleton"> </ng-container>

    <ng-container *ngIf="!item">

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            General Information
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          
          <dynamic-form [fields]="regConfig" (ngSubmit)="submit($event)"></dynamic-form>

        </mat-card-content>
      </mat-card>

    </ng-container> <!-- gridContainer -->

    <!-- Skeleton template -->

    <ng-template #skeleton>
      <div class="crm-spinner-container" [style.height.px]="containerHeight">
        <mat-spinner color="accent"></mat-spinner>
        <mat-progress-spinner class="example-margin" color="Accent" mode="Indeterminate"></mat-progress-spinner>
      </div>
    </ng-template>

  </ng-container> <!-- gridContainer -->

</div> <!-- contentContainer -->