<command-bar class="crm-command-bar" fxHide.xs>

  <ng-container>

    <button mat-button class="crm-command-bar-button" (click)="newProperty()">
      <mat-icon>add</mat-icon>
      NEW PROPERTY
    </button>
    <span class="fill-space"></span>
    <button mat-button class="crm-command-bar-button" (click)="previousPage()" [disabled]="currentPage === 0">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-button class="crm-command-bar-button" (click)="nextPage()" [disabled]="isLastPage">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </ng-container>

</command-bar>

<div #contentContainer class="crm-content-container">

  <div class="crm-component-title-container">
    <h2 class="crm-component-title"> Properties </h2>
  </div>

  <ng-container>

    <div class="table-container">

      <table mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="propertyName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="propertyLink">
          <th mat-header-cell *matHeaderCellDef> Link </th>
          <td mat-cell *matCellDef="let element"> {{element.link}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navProperty(row)"
             ></tr>

      </table>

    </div>
    
    <ng-container *ngIf="item; then skeleton"> </ng-container>

    <!-- Skeleton template -->

    <ng-template #skeleton>
      <div class="crm-spinner-container" [style.height.px]="containerHeight">
        <mat-spinner color="accent"></mat-spinner>
      </div>
    </ng-template>

  </ng-container>

</div>