<command-bar class="crm-command-bar" fxHide.xs>

  <ng-container>

    <button mat-button class="crm-command-bar-button" (click)="newBooking()" *ngIf="propertyCount !== 0">
      <mat-icon>add</mat-icon>
      +++---
    </button>
    

  </ng-container>

</command-bar>
<footer-bar class="crm-footer-bar" fxHide.xs *ngIf="propertyCount !== 0">
  <ng-container>
    <span class="fill-space"></span>
    <button mat-button class="crm-command-bar-button" (click)="previousPage()" [disabled]="currentPage === 0 || currentPage === undefined">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-button class="crm-command-bar-button" (click)="nextPage()" [disabled]="isLastPage || currentPage === undefined">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </ng-container>
</footer-bar>

<div #contentContainer class="crm-content-container">

  <div class="crm-component-title-container">
    <h2 class="crm-component-title"> Comissions </h2>
  </div>

  <ng-container *ngIf="!isLoading">


  </ng-container>

</div>