<command-bar class="crm-command-bar" fxHide.xs>

  <ng-container>

    <button mat-button class="crm-command-bar-button" (click)="newBooking()">
      <mat-icon>add</mat-icon>
      NEW BOOKING
    </button>
    <span class="fill-space"></span>
    <button mat-button class="crm-command-bar-button" (click)="previousPage()" [disabled]="currentPage === 0">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-button class="crm-command-bar-button" (click)="nextPage()" [disabled]="isLastPage">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

  </ng-container>

</command-bar>


<div #contentContainer class="crm-content-container">

  <div class="crm-component-title-container">
    <h2 class="crm-component-title"> Bookings </h2>
  </div>

  <ng-container>

    <div class="table-container">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef> Customer </th>
          <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
        </ng-container>

        <ng-container matColumnDef="checkinDate">
          <th mat-header-cell *matHeaderCellDef> Check-In </th>
          <td mat-cell *matCellDef="let element"> {{element.checkInDate}} </td>
        </ng-container>

        <ng-container matColumnDef="checkoutDate">
          <th mat-header-cell *matHeaderCellDef> Check-Out </th>
          <td mat-cell *matCellDef="let element"> {{element.checkOutDate}} </td>
        </ng-container>

        <ng-container matColumnDef="propertyName">
          <th mat-header-cell *matHeaderCellDef> Property </th>
          <td mat-cell *matCellDef="let element"> {{element.property.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navBooking(row)"></tr>
        
      </table>

    </div>
    
    <ng-container *ngIf="item; then skeleton"> </ng-container>

    <!-- Skeleton template -->

    <ng-template #skeleton>
      <div class="crm-spinner-container" [style.height.px]="containerHeight">
        <mat-spinner color="accent"></mat-spinner>
      </div>
    </ng-template>

  </ng-container>

</div>