<command-bar class="crm-command-bar" fxHide.xs>

  <ng-container>

    <button mat-button class="crm-command-bar-button" (click)="newCustomer()" *ngIf="propertyCount !== 0">
      <mat-icon>add</mat-icon>
      NEW --
    </button>
    
  </ng-container>

</command-bar>


<div #contentContainer class="crm-content-container">

  <div class="crm-component-title-container">
    <h2 class="crm-component-title"> Calendar </h2>
  </div>

  <ng-container>

    <div class="table-container" >
      <div>
        <button mat-button color="primary" (click)="previousMonth();">Previous</button>
        <button mat-button color="primary">{{monthNames[currentMonth]}} {{currentYear}}</button>
        <button mat-button color="primary" (click)="nextMonth();">Next</button>
      </div>
      <mat-grid-list cols="7" rowHeight="2:2">
        <mat-grid-tile *ngFor="let name of dayNames">{{name}}</mat-grid-tile>
        <mat-grid-tile *ngFor="let day of currentMonthDaysArray">
          <button mat-button color="primary" 
            (click)="dayClick(day)"
            [ngStyle]="setStyles(day, currentMonth, currentYear)"
            style="height: 100%"
            >{{day}}
          </button>
          <!--"selectedDay === day && selectedMonth === currentMonth ? '#ccdbdc' : ''"-->
        </mat-grid-tile>
      </mat-grid-list>

    </div>
    
    <ng-container *ngIf="item; then skeleton"> </ng-container>

    <!-- Skeleton template -->

    <ng-template #skeleton>
      <div class="crm-spinner-container" [style.height.px]="containerHeight">
        <mat-spinner color="accent"></mat-spinner>
      </div>
    </ng-template>

  </ng-container>

</div>

