@import "../../../themes/mat-variables";
@import "../../../themes/variables";

// Note: Define all color and typography styles in a "theme file" for the component / plugin

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.mat-card {
  padding: 0;
}

.mat-card-header {
  background: rgba(0, 0, 0, 0.04);
  padding-top: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-card-content {
  padding: 16px;
}

.crm-content-container{
  margin-top: 100px;
}


.table-container {
  /* margin-top: 64px; */
  height: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}