<command-bar class="crm-command-bar" fxHide.xs>

  <ng-container>

  </ng-container>

</command-bar>

<footer-bar class="crm-footer-bar" fxHide.xs>
  <ng-container>
    <button mat-button type="submit" class="crm-command-bar-button"
            [disabled]="false"
            (click)="onSubmit()">
      <mat-icon>save</mat-icon>
      SAVE
    </button>

    <button mat-button class="crm-command-bar-button"
            [disabled]="false"
            (click)="onCancel()">
      <mat-icon>cancel</mat-icon>
      CANCEL
    </button>

    <button mat-button *ngIf="isEdit" class="crm-command-bar-button"
            [disabled]="false"
            (click)="onDelete()">
      <mat-icon>delete</mat-icon>
      DELETE
    </button>
  </ng-container>
</footer-bar>


<div #contentContainer class="crm-content-container">
  
  <div class="crm-component-title-container">
    <h2 class="crm-component-title"> New Booking </h2>
  </div>

  <ng-container *ngIf="isLoading">
    <mat-progress-spinner class="loading-indicator" color="accent" mode="indeterminate" [value]="75">
    </mat-progress-spinner>
  </ng-container>

  <ng-container>

    <mat-card>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Booking">
            <p>
              <app-new-nested-booking [id]="params ? params['id'] : null" (notifyLoadComplete)='onNotifyLoadComplete($event, "booking")'></app-new-nested-booking>
              <br/>
              <br/>
            </p>
          </mat-tab>
          <mat-tab label="Guest">
            <p>
              <app-new-nested-customer [id]="params ? params['id'] : null" (notifyLoadComplete)='onNotifyLoadComplete($event, "customer")'></app-new-nested-customer>
              <br/>
              <br/>
            </p>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

  </ng-container>

</div>