// https://material.angular.io/guide/theming
// https://material.angular.io/guide/theming-your-components

@import "themes/black-deep-orange.theme";

// Forms
.demo-full-width {
  width: 100%;
}

.radio-label-padding {
  padding-right: 10px;
  justify-content: justify-content;
}

mat-radio-button{
  padding-right: 10px;
}

